*{
    padding: 0;
    margin: 0;
    background-color: #fafafa;
    font-family: 'Sofia Sans Semi Condensed', sans-serif;
    box-sizing: border-box;
}
header{
    border-bottom: solid 3px #FF670A;
}
header li {
    list-style: none;

}
a{
    text-decoration: none;
    font-size: 20px;
    color: black;
}

.logo{
    padding-left: 10px;
    height: 150px;
    width: 350px;
    object-fit: contain;
}
.navbar{
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}
.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}
.nav-link {
    transition: 0.3s ease;
}
.nav-link:hover{
    color: #f15d00;
}
.hamburger{
    display: none;
    cursor: pointer;
}
.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color:#FF670A;
}
/* parent contaienr of all cards */
.container{
    display: flex;
    flex-direction: column;
}
.searchOptions{
    margin: 0px 40px;
    padding-bottom: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.searchOptions button{
    text-decoration: underline;
    text-underline-offset: 2px;
    padding: 5px 15px;
    border-radius: 15px;
    border: none;
    background-color: #fafafa;
    color:#da5502;
    margin: 5px 0px;
    font-weight: 600;
    letter-spacing: 0.5px;
    font-size: medium;
    cursor: pointer;
}
.recipe-container{
    margin: 0 40px;
}
.box{
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    justify-content: center;
}
.slide-img{
    height: 450px;
}

.slide-img img{
    width: 500px;
    height: 100%;
    object-fit: cover;
    box-sizing: border-box;
    border-radius: 10px;
}
.detail-box{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    padding: 10px 20px;
    box-sizing: border-box;
    gap: 20px;
}
.viewRecipeRes a,
.recipe-title{
    background-color: #da550234;
    padding: 5px 20px;
    border-radius: 15px;
    text-align: center;
}
.type{
    display: flex;
    flex-direction: column;

}
.viewRecipeRes a,
.type a{
    color: #da5502;
    margin: 5px 0px;
    font-weight: 700;
    letter-spacing: 0.5px;
}
.viewRecipeRes span,
.type span{
    font-size: 17px;
    color: rgba(26, 26, 26, 0.7);
}

.ingredients-list li{
    padding-left: 10px;
}
.ingredients-list li input{
    cursor: pointer;
}

.viewRecipeRes h3,
.recipe-descr{
    padding: 10px 0px;
}
.viewRecipeRes h3,
.recipe-descr h3{
    background-color: #da550234;
    padding: 5px 20px;
    color: #da5502;
    font-weight: 600;
    letter-spacing: 0.5px;
    border-radius: 15px;
    text-align: center;
}
.viewRecipeRes ul,
.recipe-descr ul{
    margin-top: 10px;
    list-style-type:none;
    display: grid;
    grid-template-columns: repeat(2,auto);
    font-size: 16px;
    color: rgba(26, 26, 26, 0.7);
    gap: 0px 50px;
}

.main-ingred-header,
.recipes-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 30px;
}
form{
    align-items: center;
    text-align: center;
}
.usr-inp{
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    height: 40px;
    width: 80%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.search-btn img{
    float: left;
    height: 40px;
    width: 40px;
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    color:#f15d00;
    transition: all .3s;
}
.search-btn:hover {
    color:#da5502;
}
input:focus {
    outline: none;
}
.main-ingred-container{
    margin-top: 40px;
}

@media(max-width:830px){
    .hamburger{
        display: block;
    }
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu{
        position: fixed;
        Left: -100%;
        top: 140px;
        gap: 0px;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
        text-align: center;
        transition: .3s;
        background-color: #FF670A;
    }

    .nav-item{
        margin: 16px 0;
        border: none;
    }

    .nav-link{
        color: #fafafa;
        background-color: #FF670A;
    }
    .nav-link:hover{
        color: #fafafa;
    }
    .nav-menu.active{
        Left: 0;
    }
}
.categ-container{
    margin: 100px 40px;
}

.filters-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 40px;
    margin: 20px 20px;
}
.categoryImg{
    height: 50px;
    width: 50px;
    padding: 10px 10px;
    object-fit: contain;
    overflow: hidden;
    border-radius: 100%;
    background-color:  #E6E6FA;
    transition: all .3s;
}
.filter button{
    cursor: pointer;
    border: none;
}
.categoryImg:hover{
    background-color:  #ededfa;
    box-shadow: 1px 1px 2px rgba(237, 237, 250, 0.9);
}
.filter h4{
    margin-top: 10px;
}
.filterRes{
    gap: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.meat-card{
    background-color:  #d8d8e9;
    padding: 1%;
    margin-bottom: 5px;
    width: 270px;
    text-align: center;
    height: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.meat-card-img{
    width: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    box-shadow: 0 0 8px #dfdede;
}
.meat-card-descr h4{
    height: 22px;
    overflow: hidden;
}
.meat-card-descr{
    border-radius: 8px;
    justify-content: space-evenly;
}

.meat-card button {
    padding: 5px 10px;
    border-radius: 15px;
    background-color: #da5502;
    color: #fafafa;
    border: none;
    cursor: pointer;
    transition: all .3s;
    margin: 5px 0px;
}
.meat-card button:hover {
    background-color: #f05f06;
}
.viewRecipeRes{
    border:none;
    -webkit-box-shadow: 8px 8px 100px rgba(58, 58, 58, 0.8);
    box-shadow: 8px 8px 100px rgba(58, 58, 58, 0.8);
    background-color: #fafafa; 
    padding: 20px 50px;
    border-radius: 30px;
    position:fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 50%;
    width: 90%;
    max-width: 750px;
    display: none;
    flex-direction: column;
    text-align: center;
    align-items: center;
    overflow-y: scroll;


}
.buttonX{
    margin-left: 90%;
}

.viewRecipeRes::-webkit-scrollbar {
    width: 10px;
}
.viewRecipeRes::-webkit-scrollbar-thumb{
    background-color:#da5502;
    border-radius: 2rem;
}
.viewRecipeRes a,
.viewRecipeRes span,
.viewRecipeRes h3,
.viewRecipeRes ul{
    font-size: medium;
}

.viewRecipeRes ul{
    justify-items: start;
}
.viewRecipeRes h3{
    margin-top: 10px;
}
.viewRecipeRes li{
    font-size: 15px;
}
@media(max-width:1050px){
    .box{
        flex-wrap: wrap;
    }
}
@media (max-width: 585px) {
    .detail-box{
        flex-wrap: wrap;
    }
}
@media (min-width: 1600px) {
    .recipe-container{
        margin: 0 150px;
    }

    .filterRes{
        margin: 45px 150px;
    }
}
@media(max-width:652px){
    .filters-container{
        gap:15px;
    }
    .filterRes{
        gap: 15px;
    }
    .viewRecipeRes li{
        display: grid;
        grid-template-columns: repeat(2,auto);
        gap: 0px 20px;
        font-size: 15px;
    }

}
